 /* Ai se escribe un comentario*/
 body{
    background-color: aquamarine;
    color: #333;
    font-family: 'M PLUS 2', sans-serif;
}
 h1{
  color: rgb(158, 90, 222);  
 }
 h3{
    color: crimson;
 }
 .img1{
    width: 400px;
    height: 300px;
    border-style: groove;
    border-color: coral;
    border-width: 20px;
    padding: 18px;
 }
 .img2{
    width: 350px;
    height: 280px;
    border-style: solid;
    border-color:red;
    border-width: 20px; 
    padding: 18px;
 }
 .imge3{
    width: 400px;
    height: 280px;
    border-style: solid;
    border-color:blueviolet;
    border-width: 189px;
    padding: 18px ;
 }
 small{
   color: #302331;
 }
